@font-face {
    font-family: bubble;
    src: url(Bubblegum.ttf);
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: pink;
    font-family: "bubble;
}

li{
    float: left;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropbtn:hover,.dropbtn:hover{
background-color: lightpink;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px black;
    z-index: 1;
}

.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content.hover{
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: red;
}


